{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.main{
    background:linear-gradient(66deg, rgb(17, 129, 226),rgb(3, 33, 46) );
    padding: 20px;
    min-height: 100vh;
    width: 100%;
}

.todo{
    width: 35%;
    background:linear-gradient(66deg, #282828, rgb(0, 0, 0));
    color: white;
    text-align: center;
    padding: 50px;
    margin: auto;
    margin-top: 150px;
    border-radius: 10px;
    box-shadow: 10px,20px,10px,5px rgb(255, 170, 11);
}

.box{
    display:flex;
    justify-content: space-between;

}

#input{
    flex: 1;
    padding: 5px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    margin: 10px,10px,10px,0px;
}
